

<section id="preguntas">
    <header>
        <div class="subtitle__header">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="#fff" />
            </svg>
            <h2>FAQ</h2>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="#fff" />
            </svg>
        </div>

        <div class="title__header">
            <h1>PREGUNTAS FRECUENTES</h1>
        </div>
    </header>

    <main>
        <div class="faq-item">
            <div class="question">¿Puedo personalizar las recetas según mis restricciones dietéticas?</div>
            <div class="answer">Sí, la app permite personalizar las sugerencias de recetas basadas en tus preferencias y restricciones dietéticas.</div>
        </div>

        <div class="faq-item">
            <div class="question">¿La app está disponible para iOS y Android?</div>
            <div class="answer">Sí, YumDish está disponible tanto en Google Play como en la App Store.</div>
        </div>

        <div class="faq-item">
            <div class="question">¿Cómo me ayuda YumDish a reducir el desperdicio de alimentos?</div>
            <div class="answer">YumDish sugiere recetas basadas en los ingredientes que tienes, te notifica cuando ciertos ingredientes están a punto de expirar y te ayuda a planificar tus comidas de manera eficiente.</div>
        </div>

        <div class="faq-item">
            <div class="question">¿Es necesario tener una cuenta para usar la app?</div>
            <div class="answer">No, puedes explorar algunas funcionalidades sin una cuenta, pero para aprovechar al máximo todas las características, recomendamos crear una cuenta.</div>
        </div>

        <div class="faq-item">
            <div class="question">¿YumDish es gratuita?</div>
            <div class="answer">Si, YumDish es totalmente gratuita.</div>
        </div>

        <div class="faq-item">
            <div class="question">¿Cómo puedo contactar con el soporte técnico?</div>
            <div class="answer">Puedes contactarnos a través del formulario de contacto en la sección 'Contacto' de nuestra página web o directamente desde la app.</div>
        </div>
    </main>
</section>

<style>

   
    header {
        position: relative;
        .subtitle__header{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h2{
                font-size: .9em;
                color: #fff;
                font-weight: 900;

            }
            svg{
                stroke: #fff;
                width: 20px;
            }
        }
        .title__header{
            h1{
                font-family: "PermanentMarker";
                font-size: 3em;
                color: #eb7704;
                text-shadow: 2px  2px 0px #ffffff;
            }
        }
    }

    
    main{
        position: relative;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    section {
        position: relative;
        overflow: hidden;
        background-color: #f2bb46;
        padding: 6em 5em;
    }

  

    .faq-item {
        width: 90%;
        margin-bottom: 1.5em;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 1em;
        transition: all 0.3s ease;
    }

    .faq-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .question {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 0.5em;
        color: #b12000;
    }

    .answer {
        font-size: 1em;
        line-height: 1.5;
        margin-top: 1em;
    }
    

    @media (max-width: 780px){
        section{
            padding: 3em 1em;
        }
        .title__header{
            h1{
                font-size: 2em !important;
            }
        }
        .faq-item {
            width: 100%;
        }

    }

</style>












