




<section id="como-funciona">

    <header>
        <div class="subtitle__header">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="#fff" />
            </svg>
            <h2>COMO FUNCIONA</h2>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="#fff" />
            </svg>
        </div>

        <div class="title__header">
            <h1>Funcionamiento de la aplicación</h1>
        </div>
    </header>

    <main>

        <div class="cont__steps">

            <div class="step">
                <div class="title__step">
                    <h3>Crear una cuenta</h3>
                </div>
                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/crearcuenta.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu nombre de ususario, correo y contraseña y presiona el botón de crear cuenta.</p>
                    </div>
                </div>
            </div>
            
            <div class="step">
                <div class="title__step">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/login.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu correo y contraseña y presiona el botón de iniciar sesión.</p>
                    </div>
                </div>
            </div>
            
            <div class="step">
                <div class="title__step">
                    <h3>Buscar platos</h3>
                </div>
                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/menuplatos.png" class="menuplatos__img" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Ingresa qué platos quieres preparar y presiona en buscar. Si deseas ver todos los platos que puedes preparar, presiona el botón de buscar sin escribir nada.</p>
                    </div>
                </div>
            </div>
            
            <div class="step">
                <div class="title__step">
                    <h3>Interactuar con tus insumos</h3>
                </div>
                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/stock.png" class="img__stock" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Puedes buscar productos presionando el botón de busqueda y aumentar o disminuir su cantidad, presionando el botón con el icono del lápiz para .</p>
                    </div>
                </div>
            </div>
            
            <div class="step">
                <div class="title__step">
                    <h3>Ver detalles de un plato</h3>
                </div>
                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/uwu.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Aquí podrás ver la receta del plato, ver qué ingredientes te faltan y poder prepararlo. Automáticamente se descontarán de tu stock los insumos que se usaron en el plato.</p>
                    </div>
                </div>
            </div>

            <div class="step">
                <div class="title__step">
                    <h3>Detalles del usuario</h3>
                </div>
                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/perfilusuario.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Aquí podrás cambiar tu contraseña, editar tu nombre, editar tus platos favoritos y ver tus restricciones alimenticias</p>
                    </div>
                </div>
            </div>
            
           <!--  <div class="step">

                <div class="title__step">
                    <h3>Inicio de Sesión</h3>
                </div>

                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/login.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu correo y contraseña y presionas el botón de iniciar sesión.</p>
                    </div>
                </div>
            </div>

            <div class="step">

                <div class="title__step">
                    <h3>Inicio de Sesión</h3>
                </div>

                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/login.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu correo y contraseña y presionas el botón de iniciar sesión.</p>
                    </div>
                </div>
            </div>
            <div class="step">

                <div class="title__step">
                    <h3>Inicio de Sesión</h3>
                </div>

                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/login.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu correo y contraseña y presionas el botón de iniciar sesión.</p>
                    </div>
                </div>
            </div>
            <div class="step">

                <div class="title__step">
                    <h3>Inicio de Sesión</h3>
                </div>

                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/login.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu correo y contraseña y presionas el botón de iniciar sesión.</p>
                    </div>
                </div>
            </div>

            <div class="step">

                <div class="title__step">
                    <h3>Inicio de Sesión</h3>
                </div>

                <div class="info__step">
                    <div class="img__step"> 
                        <img src="/img/login.png" alt="">
                    </div>
                    <div class="description__step"> 
                        <p>Rellena los datos con tu correo y contraseña y presionas el botón de iniciar sesión.</p>
                    </div>
                </div>
            </div> -->

        </div>

    </main>

</section>



<style>

    section {
        position: relative;
        background-color: #f2bb46;
        padding: 6em 5em;

        border-bottom:8px dashed #b12000;

    }
   
    header {
        position: relative;
        .subtitle__header{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h2{
                font-size: .9em;
                color: #fff;
                font-weight: 900;

            }
            svg{
                stroke: #fff;
                width: 20px;
            }
        }
        .title__header{
            h1{
                font-family: "PermanentMarker";
                font-size: 3em;
                color: #eb7704;
                text-shadow: 2px  2px 0px #ffffff;
            }
        }
    }
    .cont__steps{
        margin-top: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;
    }
    .step{
        width: 45%;
        background-color: #ffcca8;
        padding: 1em 2em;
        border: 4px solid #b12000;
        border-radius: 8px;
    }
    .title__step{
        text-align: center;
        h3{
            font-family: "PermanentMarker";
            font-size: 1.5em;
            text-align: center;
            color:#b12000;
        }
        margin-bottom: 1em;
    }
    .info__step{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    .img__step{
        border: 4px dashed #943100;
        border-radius: 10px;
        min-width: 200px;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .menuplatos__img{
        object-position: top;
    }
    .img__stock{
        object-position:top;
    }

    @media (max-width: 1010px){
        section{
            padding: 3em 2em;
        }
        .cont__steps{
            justify-content: center;
            gap: 1em;
        }
        .img__step{
            border-radius: 10px;
            min-width: 150px;
            height: 150px;
        }
        
    }
    
    @media (max-width: 750px){
        .title__header{
            h1{
                font-size: 2em !important;
            }
        }
        .step{
            width: 100%;
        }
    }
   
</style>











